.faq-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.faq-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Syne", sans-serif;
  color: #3d5a23;
  font-weight: 700;
}

.faq-card {
  background-color: #e2e2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-card:hover {
  background-color: #f1f1f1;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0;
  color: #3d5a23;
  font-weight: 500;
}

.faq-answer {
  line-height: 1.6;
  margin-top: 10px;
  color: #3d5a23;
  font-weight: 300;
}
